Flask==2.3.3
opencv-python==4.8.1.78
numpy==1.26.3
requests==2.31.0
flask-cors==4.0.0
waitress==2.1.2
python-socketio==5.9.0
python-engineio==4.7.1
flask-socketio==5.3.4
python-dotenv==1.0.0
Werkzeug==2.3.7
Jinja2==3.1.2
gunicorn==21.2.0
